* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar {
    background-color: #0f1111;
    color:white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-main {
    height:50px;
    width:100px;
}
.logo {
    background-image: url("mj.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width:100%;
    background-position-y:bottom ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.border {
    border:2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
.blank {
    height: 50px;
}
.add-first {
    color:#cccc;
    font-size: 1rem;
    margin-left:20px;
}
.add-sec {
    font-size: 1.25rem;
    margin-left:3px;
}
.in {
    display: flex;
}
.search {
    display: flex;
    width: 620px;
    justify-content: space-evenly;
    height: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius:4px;
}
.abhi {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    font-size: 1.2rem;
}
.df {
    width:100%;
    font-size: 1.2rem;
    border: none;
}
.icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(196, 184, 49);
    border-bottom-right-radius: 4px;
    border-top-right-radius:4px;
}
.gh {
    font-size: 14px;
    font-weight: 700;
}
span {
    font-size: 12px;
}
.search:hover {
    border: 2px solid orange;
}
.cart i {
    font-size: 30px;
    font-weight: 700;
}
.cart {
    font-weight: 700;
}
.panel {
    background-color: #222f3d;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.p p{
    display: inline;
    margin-left: 15px;
}
.p {
    width: 80%;
    color: white;
    font-size: 0.87rem;
}
.a {
    font-size: 0.97rem;
    font-weight: 700;
    color: white;
}
.hero {
    background-image: url("hi.jpg");
    background-size: cover;
    height: 450px;
    align-items: end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.line {
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}
.line a{
    color: #007185;
}
.box {
    background-image: url("hi.jpg");
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.same {
    border: 2px solid black;
    background-color: #f3f3f3;
    width: 23%;
    height: 400px;
    margin-top: 15px;
    padding: 20px 0px 15px;
}
.j {
    background-size: cover;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.joker {
    margin-left:1rem;
    margin-right: 1rem;
}
.joker p{
    font-weight: 500;
    color: #007185;
}
.can {
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    height: 50px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul {
    margin-top: 30px;
}
.footer {
    color: white;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.end {
    background-color: #222f3d;
    height: 70px;
    border-top:0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra {
    background-color: #222f3d;
    background-image: url("mj.jpg");
    background-size: cover;
    width: 160px;
    height: 50px;
}
.thank {
    background-color: #0f1111;
    height: 80px;
    color: white;
}
.last {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright {
    font-size: 0.7rem;
    text-align: center;
}